Pasting a server address with long TLD is impossible - REWARD 300 BEAM

Pre-condition:
Go to Settings, switch to swap, switch to Electrum.
Steps to reproduce:
1. Copy the following text: electrum2.privateservers.network
2. Paste it in Node Address.

Expected: Address is successfully pasted.
Actual: Nothing happens.


To define UI for swap settings screen we use _"SwapNodeSettings.qml"_ file. You can find it in _"[your path]\beam-ui\ui\view\controls\SwapNodeSettings.qml"_.
Find _"Node Address"_ string
```
            SFText {
                visible:        !editElectrum
                font.pixelSize: 14
                color:          control.color
                //% "Node Address"
                text:           qsTrId("settings-node-address")
            }

            IPAddrInput {
                id:               addressInput
                visible:          !editElectrum
                Layout.fillWidth: true
                color:            Style.content_main
                underlineVisible: canEditNode
                readOnly:         !canEditNode
            }
```
```
	   // electrum settings
            CustomCheckBox {
                id: selectServerAutomatically
                visible:        editElectrum
                Layout.columnSpan: 2
                Layout.fillWidth: true
                Layout.alignment: Qt.AlignHCenter | Qt.AlignLeft
                //% "Select server automatically"
                text: qsTrId("select-server-automatically")
            }

            SFText {
                visible:        editElectrum
                font.pixelSize: 14
                color:          control.color
                //% "Node Address"
                text:           qsTrId("settings-node-address")
            }

            IPAddrInput {
                visible:          editElectrum
                id:               addressInputElectrum
                Layout.fillWidth: true
                color:            Style.content_main
                ipOnly:           false
                readOnly:         selectServerAutomatically.checked
                underlineVisible: !selectServerAutomatically.checked
            }
```
Element _"addressInput"_ responsible for node address editing.

Open 
_"[your path]\\beam-ui\ui\view\controls\IPAddrInput.qml"_

Property: _"ipOnly"_ set as false
For validation used _"ipDomainValidator"_ as a result of next expression:
`validator:        ipOnly ? ipValidator : ipDomainValidator`

Regex for validating domain is `"((([A-Za-z0-9-]{1,63}(?!-)\.)+[A-Za-z]{2,6}))"`

Open RFC for Uniform Resource Identifier (URI): Generic Syntax
https://tools.ietf.org/html/rfc3986#section-1.2.3
And try to fix the regex as it wants RFC

Hi, here's the javascript-regex of a domain following `RFC952`, `RFC1034`, `RFC1123` and `RFC2181`
`^(?=.{0,255}$)([\w-](((?=[\w-]*[\w](\.|$))[\w-])|(?=[\w](\.|$))[\w]){0,62}.?)*`

@echoby  Why are you asking for a URI parser if you are taking just a domain?

@sgaragagghu 
Hi.
You right. I made mistake writing "URI". This regex must validate only ip and domain.

> @sgaragagghu
> Hi.
> You right. I made mistake writing "URI". This regex must validate only ip and domain.
@echoby 

Since `RFC 1123` states that each label (the string between the dots) can start with a number too, each label can even be a numeric string, so IPs are accepted by the 'regex'.
But even not legal IP will be accepted because they are valid domains, for example:

- `266.266.266.266` is accepted
- `255.255.255.255.255.255.255.255.255.255` is accepted
- `2555.2555.2555.2555.2555` is accepted
- `254.254.254.254. is accepted

So if you prefer to keep domains and IPs well divided, i should ignore `RFC 1123` and disallow labels to start with a number, this way these strange things will go away and only valid IPs will be accepted.


@sgaragagghu 
Нou make a mistake, in my opinion. I'll try to explain my logic.
rfc952:
`
<domainname> ::= <hname>
`
->
`
<hname> ::= <name>*["."<name>]
`
->
`
<name>  ::= <let>[*[<let-or-digit-or-hyphen>]<let-or-digit>]
`
so
`
 <hname> ::= <<let>[*[<let-or-digit-or-hyphen>]<let-or-digit>]>*["."<<let>[*[<let-or-digit-or-hyphen>]<let-or-digit>]>]
`
By rfc1123 relaxed only first character of host name:
`
<hname> ::= <<let-or-digit>[*[<let-or-digit-or-hyphen>]<let-or-digit>]>*["."<<let>[*[<let-or-digit-or-hyphen>]<let-or-digit>]>]
`
Folowing this logic your examples is invalid domains.
IANA root zones database (https://www.iana.org/domains/root/db) approves my reasoning, I think.
In case if you thing that I wrong: Fully ignoring  RFC 1123 we will exclude many correct domains. By this reason I will prefer stay liberal and allow labels to start with a number. Except last, it must match one of IANA root zone.

@sgaragagghu Hi. Here looks like a Bug in TLD as it should be forbidden to use underscores
![image](https://user-images.githubusercontent.com/44496108/88101241-681d9400-cba6-11ea-9075-e657e2ca217f.png)


@Sergei-Beam 
Because  `RFC 2181` should allow it for domains, anyway i can forbid it if you want (or restrict it).
Just tell me how do you prefer.

> Because `RFC 2181` should allow it for domains, anyway i can forbid it if you want (or restrict it).
> Just tell me how do you prefer.
@sgaragagghu Let's forbid to use underscores for the Node address field

One more thing which we should allow to use as node address _localhost_
![image](https://user-images.githubusercontent.com/44496108/88148417-3be62f80-cc07-11ea-81c3-c18fe471c7af.png)



@Sergei-Beam 
`One more thing which we should allow to use as node address _localhost_ and all one-word addresses as it is not forbidden by `RFC``
Yes, I forgot to write about it in #84 


Checked, working as expected